.tg-site-header {
    border-bottom: 1px solid #e9ecef;
    background-color: #fff;
}

header {
  display: block;
  box-sizing: inherit;
}

body {
    font-family: Montserrat;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 400;
    font-style: normal;
    color: #7a7a7a;
}

.tg-site-header-top
{
background-color: #ffb716;
background-repeat: repeat;
    background-position: center center;
    background-size: contain;
    background-attachment: scroll;
    color: #fff;
    padding: .5em 0;
}

.tg-container
{
max-width: 1240px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.tg-container--flex-center {
align-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.tg-container--flex 
{
display: flex;
    flex-wrap: wrap;
}

.tg-header-top-left-content
{
      width: 50%;
          box-sizing: inherit;
}

.tg-header-top-right-content
{
    width: 50%;
    text-align: right;
}